<h1>Registration</h1>



<form id="user-register" class="form" action="/user" method="post">
  <input type="text" name="user[username]" placeholder="Username">
  <input type="text" name="user[email]" placeholder="email">
  <input type="password" name="password" placeholder="Password">
  <button type="submit" name="submit">Register</button>
</form>
