<h1>Registraion</h1>

<form action="/users" method="post">
  <label>User Name:
    <input type="text" name="user[user_name]" value=""/>
  </label><br />

  <label>Email:
    <input type="text" name="user[email]" value=""/>
  </label><br />

  <label>Password:
    <input type="password" name="password" value=""/>
  </label><br />

  <input type="submit" value="create"/>
</form>
