<h2>Login</h2>
<form id="user-login" class="form" action="/session" method="post">
  <input type="text" name="username" placeholder="Username">
  <input type="password" name="password" placeholder="Password">
  <button type="submit" name="submit">Login</button>
</form>
